################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/WordPress.NET/v16
/src/WordPress.NET/.vs/WordPress.NET
